BODY {
  text-align:center;
}
INPUT {
  font-size:12pt;
}
H1 {
  margin:1em 0;
}
DIV#loginc {
  margin-top:1em;
}
DIV#login {
  display:inline-block;
  padding-left:90px;
  padding-right:10px;
  background:url(../img/watermark.png) no-repeat left 65px;
}
DIV#login LABEL {
  display:block;
  font-family:'Arial';
  font-weight:bold;
  font-size:13pt;
}
A.big {
  display:block;
  margin:1em auto 0 auto;
  width:130px;
  padding:5px 10px;
  border:1px solid #008E80;
  color:#008E80;
  background:url(../img/tour-background.png) repeat-x;
  text-align:center;
  font-family:'Lucida Grande','Trebuchet MS';
  font-weight:bold;
  font-size:13pt;
  text-decoration:none;
}
A.big:hover {
  color:#f42941;
  border:1px solid #f42941; 
}
DIV#links {
  padding-top:2em;
  font-family:'Arial';
  font-size:11pt;
}
DIV#links A {
  color:#008E80;
}
DIV#links A:hover {
  color:#F42941;
}
DIV#tiles TABLE {
  margin-left:auto;
  margin-right:auto;
}
DIV#tiles LABEL {
  display:block;
  font-family:'Arial';
  font-weight:bold;
  font-size:12pt;
}
DIV#tiles INPUT {
  margin-bottom:1em;
}
DIV#tos-text {
  font-family:Arial;
  border:1px solid #c0c0c0;
  padding:5px 20px;
  font-size:10pt;
  text-align:left;
}
DIV#tos-text B {
  color:red;
}
DIV.PasswordTile LABEL {
  display:inline-block;
  width:140px;
  text-align:right;
  padding-right:4px;
  font-family:'Calibri','Arial'; 
}
DIV.PassEntry SPAN {
  display:inline-block;
  width:200px;
  margin-left:7px;
  padding-left:18px;
}
SPAN.warn {
  background:url(../../img/icons/warning.png) no-repeat left center;
}
SPAN.ok {
  background:url(../../img/icons/ok.png) no-repeat left center;
}
DIV.InfoBox {
  border:1px solid #c0c0c0;
  padding:10px;
  background-color:white;
  margin:13px;
}
DIV.InfoBox DIV {
  font-size:1.2em;
  font-weight:bold;
  margin-bottom:0.2em;
}
DIV.InfoBox OL {
  margin-top:0;
  margin-bottom:0;
}
DIV.InfoBox UL {
  list-style:disc;
  margin:0 2em;
  padding:0;
}
DIV.InfoBox EM {
  text-decoration:line-through;
  font-style:normal;
  color:red;
}
DIV.InfoBox EM SPAN {
  color:black;
}
DIV.ExpiredBox {
  font-size:1.3em;
  margin-bottom:15px;
}