DIV#rx-head {
  background:url(../img/icons/rx.png) no-repeat 5px 5px white;
  text-align:center;
}
DIV#rx-layout {
  height:120px;
  text-align:center; 
}
DIV#rx-head-doc {
  font-weight:bold;
  font-size:11pt;
}
DIV#rx-head-client {
  font-weight:bold;
  font-size:11pt;
}
INPUT.w100 {
  width:100%;
  overflow:visible;
}
TD.disabled {
  color:#707070;
}
DIV.fstab TD.medname {
  font-weight:bold;
  color:#A12830;
  font-size:11pt;
  cursor:hand;
}