BODY {
  background-color:orange;
  font-size:1.05;
}
.ui-body-c, .ui-overlay-c {
  text-shadow:none !important;
}
DIV.head {
  height:43px;
  background-color:orange;
}
DIV.body {
  padding:0;
  background-color:white;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}
UL.list {
  margin:0;
  padding:0;
}
UL.list LI A {
  height:50px;
  line-height:50px;
  padding-left:5px;
  border-bottom:1px solid #d4d0c8;
  background:url(images/ios7-fwd.png) right center no-repeat;
  display:block;
  font-weight:normal !important;
  text-decoration:none;
  color:#404040 !important;
}
UL.list LI A:active {
  background-color:#d4d0c8;
  color:white !important;
}
LI P {
  margin-top:0 !important;
}
DIV.chordbox {
  text-align:center;
  display:inline-block;
}
DIV.chord {
  width:30px;
  height:40px;
  border:1px solid black;
  display:none;
}
DIV.chordbox A {
  text-decoration:none;
}
TABLE.song TR TD {
  padding:0 3px;
  vertical-align:top;
}
TABLE.song TR.verse TD {
  padding-bottom:5px;
}
.ui-link-inherit {
  background-color:white !important;
}
